@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800&display=swap");

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background-image:url("../public/img/game_background.jpg");
  color: #fff;
}
